{% extends "layout.html" %}
{% block title %}    {{ group.group_name }} {% endblock %}
       	{% block head %}	
       	
    <style>

  .btn-primary {
	
}
.navbar-nav>li>.logout-button {
	color : blue;
}

.groupsUL{
 list-style-type:none;   
 margin-left: 0px;
 padding-left: 0px;

 height:500px; width:22%;
 overflow:hidden; 
    
 }	
 .groupsLI{
     height: 36px;
     padding-top: 1px;
	 padding-bottom: 1px;
     
 }
 .groupsLI a{
 	height:100%;
  	display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px; 
    width: 95%;
	background-color:#337ab7;
	margin-top: 10px; 	
	text-align: center;
	border: 1px solid transparent;
    border-radius: 4px;
    overflow: hidden;
    list-style-type: none; 
 }
 .groupsLI a:hover{
 background-color: #3387b9;
 }
		div.flash {
		    color: #fff;
		    background-color: #337ab7;
		    border-color: #2e6da4;
		    border: 1px solid transparent;
		    border-radius: 4px;
		    text-align: center;
		    
			margin: auto;
		    width: 20%;
		    padding: 10px;
		}
		

.detailBox {
    width:56%;
    border:1px solid #bbb;
    height : 50%; 
    position:absolute; 
    left:22%; 
    top:77%;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}		
		
		
		
		
		
  </style>

       	{% endblock %}

{% block content %}

{% if current_user.is_authenticated %}
		{% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    	{% endfor %}

<div class="container">
 <ul class="groupsUL"  style="position:absolute; left:2%; top:13%;  padding-right:3%;  width:20%;
 
    {% if scroll %} 
 overflow-y:scroll;
   {% endif %} 
 ">
     <h2 style="text-align:center">Groups</h2>
 
 {% if current_user.get_email() == group.creator_email %} 
 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="width: 95%;">New Member</button>
   {% endif %}

  {% if group_members %}
    <h2 style="text-align:center">Group Members</h2>


             {% for members in group_members %}
 
          <li class="groupsLI" >
                <a  href="#" style="color:#fff;">
            
              {{ members }} 
   				</a>

          </li>
                    {% endfor %}
          
          
          
</ul>
 <ul  class="groupsUL"  style="position:absolute; left:80%; top:13%;  padding-right:3%;  width:20%;
 
    {% if scroll %} 
 overflow-y:scroll;
   {% endif %} 

 ">
   {% if files %}
		<h2 style="text-align:center">Files</h2>
                    <li class="groupsLI" style = "margin-bottom:10px">

    <a  href="{{  url_for('pdf.upload_file', group_id = group.group_id)}}" style="color:#fff;">
            Upload File
   				</a>
   				          </li> 

             {% for file in files %}
 
          <li class="groupsLI" >
                <a   title="{{files[file]}}"  href="{{  url_for('groups.group_file_page', group_id = group.group_id,file_id = file)}}" style="color:#fff;">
            
              {{ files[file] }} 
   				</a>

          </li>
                    {% endfor %}
           </ul>
  {% else %}  
  		<h2 style="text-align:center">No File Found</h2>
                    <li class="groupsLI" >

    <a  href="{{  url_for('pdf.upload_file', group_id = group.group_id)}}" style="color:#fff;">
            Upload File
   				</a>
   				          </li> 
 {% endif %}
  {% endif %}
 
 
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New Member</h4>
      </div>
      <div class="modal-body">
        <form id="add_new_member_form" role = "form" action ="{{group.group_id}}/add_new_member" name = "add_new_member_form" id = "add_new_member_form" method = "POST" class="text-left">
          <div class="form-group">
            <label for="recipient-name" class="control-label">User Email</label>
            <input type="text" class="form-control" id="add_new_member" name="add_new_member"  placeholder="Group Name" />          
          </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="submit"  class="btn btn-primary">Add</button>
	      </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="detailBox">
    <div class="titleBox">
      <label>Comment Box</label>
        <button type="button" class="close" aria-hidden="true">&times;</button>
    </div>
    <div class="commentBox">
        
        <p class="taskDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
    <div class="actionBox">
        <ul class="commentList">
            <li>
               <!--  
                <div class="commenterImage">
                  <img src="http://placekitten.com/50/50" />
                </div>
                -->
                <div class="commentText">
                    <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                </div>
            </li>
            <li>
                <div class="commentText">
                    <p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>

                </div>
            </li>
            <li>
                <div class="commentText">
                    <p class="" id=com>Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>
                </div>
            </li>
        </ul>
       	<script type=text/javascript>
		  $(function() {
		    $('button#calculate').bind('click', function() {
		      $.getJSON('/comments', {
		          come: $('input[name="comment"]').val(),
		          file_id: "{{file_id}}"
		        }, function(data) {
		        $("#com").text(data.result);
		      });
		      return false;
		    });
		  });
		  </script>
        <form class="form-inline" role="form">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Your comments" name=comment>
            </div>
            <div class="form-group">
                <button class="btn btn-default" id=calculate>Add</button>
            </div>
        </form>
    </div>
</div>
       	
</div>
<div style = "width: 56%; height : 60%; position:absolute; left:22%; top:10%">
			<h4 style="text-align:center">{{filename}}</h4>

    <embed src="/{{group_id}}/{{file_id}}" width="100%" height="375">
</div>



{% endif %}

{% endblock %}