<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8" />
    	<title>Gift</title>
    	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />   
    	<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}" />   	
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>    	
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />    	
	</head>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">Brand</a>
		    </div>

		  </div><!-- /.container-fluid -->
		</nav>
		
<div class="text-center" style="padding:50px 0">
	<div class="logo">Register</div>

	<!-- Main Form -->
	<div class="login-form-1" >

		<form id="reg_form" role = "form" action ="" name = "reg_form" id = "reg_form" method = "POST" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="reg_username" class="sr-only">Username</label>
						<input type="text" maxlength="40" class="form-control" id="reg_username" name="reg_username" value="{{ request.form.username }}" placeholder="username" required autofocus/>
					</div>
					<div class="form-group">
						<label for="reg_password" class="sr-only">Password</label>
						<input type="password" minlength="8" maxlength="40" class="form-control" id="reg_password" name="reg_password" value="{{ request.form.password }}" placeholder="password" required autofocus/>
					</div>
					<div class="form-group">
						<label for="reg_password_confirm" class="sr-only">Password Confirm</label>
						<input type="password" minlength="8" maxlength="40" equalTo="#reg_password" class="form-control" id="reg_password_confirm" name="reg_password_confirm" value="{{ request.form.password_confirm }}" placeholder="confirm password" required autofocus/>
					</div>

					<div class="form-group">
						<label for="reg_email" class="sr-only">Email</label>
						<input type="email" minlength="5" maxlength="40" class="form-control" id="reg_email" name="reg_email" value="{{ request.form.email}}" placeholder="email" required autofocus/>
					</div>
					<div class="form-group">
						<label for="reg_firstname" class="sr-only">Name</label>
						<input type="text" maxlength="40" class="form-control" id="reg_name" name="reg_name" value="{{ request.form.name }}" placeholder="name" required autofocus/>
					</div>
					
					<div class="form-group">
						<label for="reg_surname" class="sr-only">SurName</label>
						<input type="text" maxlength="40" class="form-control" id="reg_surname" name="reg_surname" value="{{ request.form.surname }}" placeholder="surname" required autofocus/>
					</div>
					
					<div class="form-group login-group-checkbox">
						<input type="radio" class="" name="reg_gender" id="male" value="male" checked />
						<label for="male">male</label>

						<input type="radio" class="" name="reg_gender" id="female" value="female"  />
						<label for="female">female</label>
					</div>

					<div class="form-group login-group-checkbox">
						<input type="checkbox" class="" id="reg_agree" name="reg_agree">
						<label for="reg_agree">I agree with <a href="#">terms</a></label>
					</div>
				</div>
				<button type="submit" class="login-button" ><i class="glyphicon glyphicon-menu-right"></i></button>
			</div>
			<div class="etc-login-form">
				<p>already have an account? <a href="{{ url_for('sign_in.sign_in_page') }}">login here</a></p>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>		
				<!-- FORGOT PASSWORD FORM -->
		<div class="text-center" style="padding:50px 0">
			<div class="logo">forgot password</div>
			<!-- Main Form -->
			<div class="login-form-1">
				<form id="forgot-password-form" class="text-left">
					<div class="etc-login-form">
						<p>When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
					</div>
					<div class="login-form-main-message"></div>
					<div class="main-login-form">
						<div class="login-group">
							<div class="form-group">
								<label for="fp_email" class="sr-only">Email address</label>
								<input type="text" class="form-control" id="fp_email" name="fp_email" placeholder="email address">
							</div>
						</div>
						<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
					</div>

				</form>
			</div>
			<!-- end:Main Form -->
		</div>
			<script> $("#reg_form").validate();</script>
			
	</body>
</html>